{% extends 'base.html' %}
{% load static %}

{% block main %}
    <main role="main" class="container mt-3 px-6">
        <h1 class="h1 color-titulo">Voto Registrado</h1>

        <p class="lead text-justify">
            Muchas gracias {{ user.first_name }} {{ user.last_name }}, tu voto fue registrado y en unos momentos recibirás una confirmación en tu correo institucional​
        </p>

        <h3 class="h3 text-justify">Recuerda que las ternas disponibles son las siguientes:</h3>

        <div class="row justify-content-center px-3 py-2">
        {% for terna in object_list %}
            <div class="py-2 col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <div class="card">
                    <div class="card-header">
                        {{ terna.nombre }}
                    </div>
                    <div class="card-body">
                        {% if terna.fecha_voto == None %}
                            <a class="btn capres-btn-primary" href="{% url 'candidatos' terna.pk %}">
                                Ver candidato/as y votar
                            </a>
                        {% else %}
                            
                            <span class="color-titulo d-flex flex-row justify-content-center" style="font-size: 16px;">
                                <span class="material-icons capres-margin-icon capres-verde" style="font-size: 20px;">check_circle</span>
                                Votaste el {{ terna.fecha_voto }}
                            </span>
                            <br>
                            <span class="color-titulo" style="font-size: 14px">Ref: {{ terna.ref }} </span>
                        {% endif %}
                            
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>

        <p class="lead text-center mt-3">
            Si ya completaste tu votación o deseas regresar y seguir viendo los resultados en VIVO, puedes dar
            <a class="capres-azul" href="{% url 'resultados' object_list.first.pk %}"> click acá. </a>
        </p>

        <a id="desc" href="{% url 'comprobante' %}" download="comprobante-votacion.pdf" rel="noopener noreferrer" target="_blank" class="capres-azul">
            Descargar Comprobante de Votación
        </a>
            
    </main>

    <script>
        let link1 = document.getElementById('desc')
        link1.click()
    </script>

{% endblock main %}
