{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{% static 'css/custom.scss' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/estandar-capres.css' %}">

    <style>
      
      body {
        background-color: #f7f7f7 !important;
      }

      .navbar {
          float:none;
          margin:0 auto;
          display: block;
          text-align: center;
      }

      .navbar > li {
          display: inline-block;
          float:none;
      }

      .jumbotron {
        background-color: #f7f7f7 !important;
      }

      .btn-primary {
        background-color: #2f129c;
        border-color: #2f129c;
      }

      .btn-primary:hover {
        background-color: #2f129c;
        border-color: #2f129c;
      }

      .inicio {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: 100vh;
      }
    </style>

    <title>Sistema de votaciones internas</title>
</head>
<body class="text-center">
    
    <div role="main" class="container-fluid">
        {% block main %}
        {% endblock main %}
    </div>

    <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/init.js' %}"></script>

</body>
</html>