{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{% static 'css/custom.scss' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/estandar-capres.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

    <style>
      
      body {
        background-color: #f7f7f7 !important;
      }

      .navbar {
          float:none;
          margin:0 auto;
          display: block;
          text-align: center;
      }

      .navbar > li {
          display: inline-block;
          float:none;
      }

      .jumbotron {
        background-color: #f7f7f7 !important;
      }

      .btn-primary {
        background-color: navy;
        border-color: navy;
      }

      .btn-primary:hover {
        background-color:navy;
        border-color: navy;
      }

      .inicio {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: 100vh;
      }
    </style>

    <title>Sistema de votaciones internas</title>
</head>
<body class="text-center">
      
    <header class="mb-3">
        <div class="navbar navbar-dark bg-dark shadow-sm d-flex flex-row">
          <img src="{% static 'img/logo-transparente.svg' %}" style="width: 60px; height: 60px;">
          
          <a href="{% url 'inicio'  %}" class="navbar-brand">
            <strong style="text-transform: uppercase;">{{datos_eleccion.titulo}}</strong>
          </a>
          
          {% if datos_eleccion.estado == '1' and not user.is_authenticated %}
            <a 
                class="btn capres-btn-primary btn-lg"
                style="width: 200px;"
                href="{% url 'login' %}"
            >
              VOTAR
            </a>
          {% else %}
            <div></div>
          {% endif %}

        </div>
    </header>
    
    <div role="main" class="container-fluid">
        {% block main %}
        {% endblock main %}
    </div>

    <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/init.js' %}"></script>

</body>
</html>
