{% extends 'base.html' %}
{% load static %}

{% block main %}

<div role="main" class="container">

    <div class="row mx-auto">
        <h1 class="h1 mx-auto color-titulo">Candidatos para: "{{ terna.nombre }}"</h1>
    </div>

    <div class="row mx-auto">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 h5 color-titulo">
            <strong>Nombre:</strong> {{ object.nombre }}
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 h5 color-titulo">
            <strong>Profesión:</strong> {{ object.profesion }}
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 h5 color-titulo">
            <strong>Cargo:</strong> {{ object.cargo }}
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 h5 color-titulo">
            <strong>Área:</strong> {{ object.linea_trabajo }}
        </div>
    </div>

    <div class="row mt-3">

        <!-- Fotos y voto -->
        <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12 mb-4">
            <h5 class="h5">&nbsp;</h5>
            <div class="card">
                <img src="{{object.foto.url }}" class="card-img-top capres-img-candidato">
                <div class="card-body">
                    <button class="btn capres-btn-primary col-12 mb-2" id="confirmarVoto">DAR MI VOTO</button>
                    <a class="btn capres-btn-secondary col-12" href="{% url 'candidatos' terna.pk %}">
                        Listado de Candidatos
                    </a>
                </div>
            </div>
        </div>

        <!-- Reseña -->
        <div class="col-xxl-9 col-xl-9 col-lg-9 col-md-6 col-sm-12 col-xs-12 text-justify">
            <h5 class="h5"><strong>Reseña:</strong></h5>
            <p>
                {{ object.info | safe }}
            </p>
        </div>

    </div>

</div>

<!-- Modal de confirmacion -->
<div class="modal" id="confirmacionVotoModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Confirmación de Voto</h5>
          <button type="button" id="cerrarConfirmarVoto2" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>
            ¿Deseas votar por <strong>{{object.nombre}}</strong>?, ten en cuenta que una vez emitas tu voto ya no podrás volver a hacerlo en esta terna​
          </p>
        </div>
        <div class="modal-footer">
            <form id="formulario" action="{% url 'votar' terna.pk object.pk %}" method="post">
                {% csrf_token %}
                <button id="cerrarConfirmarVoto" type="button" class="btn capres-btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <input type="submit" id="submitbutton" onclick="document.getElementById('submitbutton').disabled = true; document.getElementById('formulario').submit()" class="btn capres-btn-primary" value="Sí" />
            </form>
        </div>
      </div>
    </div>
</div>

{% endblock main %}
