{% extends 'base.html' %}
{% load static %}

{% block main %}

<div role="main" class="container">

    <div class="row mx-auto">
        <h1 class="h1 mx-auto color-titulo">Candidatos para: "{{ terna.nombre }}"</h1>
    </div>

    <div class="row mx-auto">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 h5">
            <strong>Nombre:</strong> {{ object.nombre }}
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 h5">
            <strong>Profesión:</strong> {{ object.profesion }}
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 h5">
            <strong>Cargo:</strong> {{ object.cargo }}
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 h5">
            <strong>Área:</strong> {{ object.linea_trabajo }}
        </div>
    </div>

    <div class="row mt-3">

        <!-- Fotos y voto -->
        <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12 mb-4">
            <h5 class="h5">&nbsp;</h5>
            <div class="card">
                <img src="{{object.foto.url }}" class="card-img-top capres-img-candidato">

                <div class="card-body">
                    <a class="btn capres-btn-primary col-12" href="{% url 'candidatos-free' terna.pk %}">
                        Listado de Candidatos
                    </a>
                </div>
            </div>
        </div>

        <!-- Reseña -->
        <div class="col-xxl-9 col-xl-9 col-lg-9 col-md-6 col-sm-12 col-xs-12 text-justify">
            <h5 class="h5"><strong>Reseña:</strong></h5>
            <p>
                {{ object.info | safe }}
            </p>
        </div>

    </div>

</div>

{% endblock main %}
