{% extends 'base_init.html' %}
{% load static %}

{% block main %}

<div class="inicio">
    <div class="jumbotron text-center">
        
        <img src="{% static 'img/logo-gobierno.jpeg' %}" style="width:125px; margin-bottom: 48px;" >

        <h1 class="h1 color-titulo">{{ datos_eleccion.nombre }}</h1>

        <div class="my-4"></div>
        <p class="lead">Emite tu voto en línea o acercate al Centro de Votación ubicado cerca de Recursos Humanos</p>
        <a
            class="btn btn-lg capres-btn-primary"
            href="{% url 'login' %}"
            role="button"
            style="width: 200px;">
            VOTAR
        </a>
        <div class="my-4"></div>
        <p>Recuerda que puedes votar hasta el <strong>{{ datos_eleccion.fecha_fin}}</strong></p>
        <p class="lead">¡Sigue los resultados en <strong style="font-weight: bold;">VIVO</strong>!</p>
        <div class="my-4"></div>
        
        
        {% for terna in object_list %}
            <a class="btn btn-lg capres-btn-secondary mt-2" 
                href="{% url 'resultados' terna.pk %}"
                style="width: 270px;"
                role="button"
            >
                {{ terna.nombre }}
            </a>
        {% endfor %}
        
        <p class="lead my-4">
            Puedes consultar la base legal de estas elecciones dando click a <a href="{{datos_eleccion.documento.url}}" target="_blank">este enlace​</a>.
        </p>

    </div>
</div>
{% endblock main %}
