{% extends 'base.html' %}
{% load static %}

{% block main %}

<div class="row">
    <!-- Menu -->
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="sidebar-sticky pt-3">

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                <span>Resultados en VIVO</span>
                <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">
                <span data-feather="plus-circle"></span>
                </a>
        </h6>

        <ul class="nav flex-column">
            
            
            {% for terna in ternas %}
                <li class="nav-item">
                    <a class="nav-link active capres-azul" href="{% url 'resultados' terna.pk %}">
                    <span data-feather="home"></span>
                    {{terna.nombre}} <span class="sr-only">(current)</span>
                    </a>
                </li>
            {% endfor %}

            <li class="nav-item">
                <a class="nav-link capres-azul" target="_blank" href="{{datos_eleccion.documento.url}}">
                    Base Legal
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link capres-azul" target="_blank" href="{{datos_eleccion.reglamento.url}}">
                    Reglamento
                </a>
            </li>


        </ul>

        </div>
    </nav>


    <main role="main"  class="col-md-9 ml-sm-auto col-lg-10 px-md-4 mb-5">

        <h1 class="h1 mt-2 mb-2 color-titulo">Para votar debemos verificar tu identidad</h1>

        <p class="lead text-justify">
            Ingresa las mismas credenciales con las que inicias sesión en tu computadora institucional, si no posees cuenta institucional, no recuerdas tus credenciales o tienes algún problema para ingresar, por favor acercate a Recursos Humanos para votar de manera presencial.<span style="font-weight: bold;"> ¡Recuerda portar tu mascarilla!</span>
        </p>

        <!-- Espacio de Login -->

        <form method="post" class="mx-auto form col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
            {% csrf_token %}

            {% if messages %}
              {% for message in messages %}
                <div class="alert alert-danger" role="alert">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}

            <div class="mb-3 text-justify">
                <label style="font-weight: bold;">{{form.username.label}}:</label>
                {{ form.username }}
              </div>
              <div class="mb-3 text-justify">
                <label style="font-weight: bold;">{{form.password.label}}:</label>
                {{ form.password }}
              </div>
              <div class="mb-3 form-check">
                <input required type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">
                    Aceptar los <a href="#" class="capres-azul" id="terminos">Términos y Condiciones</a>
                </label>
              </div>
            <input type="submit" class="btn btn-lg capres-btn-primary"  value="Ingresar" style="padding-left: 50px; padding-right: 50px;">
        </form>
    </main>

</div>

<!-- Términos y condiciones -->
<div class="modal fade" id="terminosModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Términos y Condiciones</h5>
          <button type="button" id="cerrar2" class="btn-close btn" data-bs-dismiss="modal" aria-label="Close">X</button>
        </div>
        <div class="modal-body text-justify">
          {{ datos_eleccion.terminos | safe}}
        </div>
        <div class="modal-footer">
          <button type="button" id="cerrar" class="btn capres-btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
</div>

{% endblock main %}
