{% load static %}
<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <title>Sistema de votaciones internas</title>
    <link rel="stylesheet" href="{% static 'css/estandar-capres.css' %}">
    <meta name="theme-color" content="#7952b3">

    <style>
      div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: 100vh;
      }
    </style>
    
  </head>
  <body style="background-color: #f7f7f7;">
    
    <div class="container align-conten-middle">

        <div>

            <img src="{% static 'img/logo-gobierno.jpeg' %}" style="width:125px; margin-bottom: 48px;" >
            <h1 class="color-titulo">Sistema de Votaciones Internas</h1>
            <h1 class="color-titulo">Elecciones aún no iniciadas</h1>
            <h2 class="color-titulo">Conoce  a las personas participantes de las ternas:</h2>

            {% for terna in object_list %}
                <a class="btn btn-lg capres-btn-primary mt-2"
                   href="{% url 'candidatos-free' terna.pk %}"
                   style="width: 270px;"
                   role="button"
                >
                    {{ terna.nombre }}
                </a>
            {% endfor %}

        </div>

    </div>

  </body>
</html>
