{% extends 'presencial/base.html' %}
{% load static %}

{% block main %}
    <main role="main" class="container mt-3 px-6">
        <h1 class="h1 color-titulo">Voto Registrado</h1>

        <p class="lead text-justify">
            Muchas gracias {{ usuario.nombre }}, tu voto fue registrado, verifica que hayas emitido tu voto en todas las ternas, si ya lo hiciste por favor solicita se imprima tu comprobante​
        </p>

        <h3 class="h3 text-justify">Recuerda que las ternas disponibles son las siguientes:</h3>

        <div class="row justify-content-center px-3 py-2">
        {% for terna in object_list %}
            <div class="py-2 col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <div class="card">
                    <div class="card-header">
                        {{ terna.nombre }}
                    </div>
                    <div class="card-body">
                        {% if terna.fecha_voto == None %}
                            <a class="btn capres-btn-primary" href="{% url 'candidatos-presencial' terna.pk %}">
                                Ver candidato/as y votar
                            </a>
                        {% else %}
                            <span class="color-titulo d-flex flex-row justify-content-center" style="font-size: 16px;">
                                <span class="material-icons capres-margin-icon capres-verde" style="font-size: 20px;">check_circle</span>
                                Votaste el {{ terna.fecha_voto }}
                            </span>
                            <br>
                            <span class="color-titulo" style="font-size: 14px">Ref: {{ terna.ref }} </span>
                            <br>
                            <a href="{% url 'resultados-presencial' terna.pk %}" class="btn capres-btn-primary">Ver Resultados</a>
                        {% endif %}
                            
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>

        <!--<a href="#" id="mostrarCredencialesImpresion">
            Imprimir Comprobante de Votación
        </a>-->
            
    </main>

    <!-- solicitud de credenciales para imrpimir -->
    <form action="{% url 'impresion-presencial' %}" method="post">
        {% csrf_token %}
      <div class="modal fade" id="impresionModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Ingresa la contraseña</h5>
              <button type="button" id="cerrarImpresion2" class="btn-close btn" data-bs-dismiss="modal" aria-label="Close">X</button>
            </div>
            <div class="modal-body text-justify">
                <div class="mb-3">
                  <label for="passwordInput" class="form-label">Contraseña:</label>
                  <input type="password" name="password" class="form-control" id="passwordInput" placeholder="">
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" id="cerrarImpresion" class="btn capres-btn-secondary">Cerrar</button>
              <input type="submit" class="btn capres-btn-primary" value="Confirmar">
            </div>
          </div>
        </div>
      </div>
      </form>

{% endblock main %}
