{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/estandar-capres.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

    <style>
      
      body {
        background-color: #f7f7f7 !important;
      }

      .navbar {
          float:none;
          margin:0 auto;
          display: block;
          text-align: center;
      }

      .navbar > li {
          display: inline-block;
          float:none;
      }

      .jumbotron {
        background-color: #f7f7f7 !important;
      }

      .btn-primary {
        background-color: #2f129c;
        border-color: #2f129c;
      }

      .btn-primary:hover {
        background-color: #2f129c;
        border-color: #2f129c;
      }

      .inicio {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: 100vh;
      }
    </style>

    <title>Sistema de votaciones internas</title>
</head>
<body class="text-center flex align-items-center">

    
    {% if usuario %}
      <header>
        <div class="navbar navbar-dark bg-dark shadow-sm d-flex justify-content-between">

            <img src="{% static 'img/logo-transparente.svg' %}" style="width: 60px;">
            
            <a href="#" class="navbar-brand d-flex align-items-center">
              <strong style="text-transform: uppercase;">{{datos_eleccion.titulo}}</strong>
            </a>
            
            {% if datos_eleccion.estado == '1'  %}
              <button
                class="btn capres-btn-primary btn-lg"
                style="width: 200px;"
                id="mostrarCredenciales"
              >
                CERRAR SESION
              </button>
            {% endif %}

        </div>
      </header>
    {% endif %}

    <div class="flex">
    <div role="main" class="container-fluid">
        {% if messages %}
              {% for message in messages %}
                <div class="alert alert-danger" role="alert">
                  {{ message }}
                </div>
              {% endfor %}
        {% endif %}
        {% block main %}
        {% endblock main %}
    </div>
    </div>


    <!-- solicitud de credenciales -->
    <form action="{% url 'logout-presencial' %}" method="post">
      {% csrf_token %}
    <div class="modal fade" id="credencialesModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ingresa la contraseña</h5>
            <button type="button" id="cerrarCredenciales2" class="btn-close btn" data-bs-dismiss="modal" aria-label="Close">X</button>
          </div>
          <div class="modal-body text-justify">
              <div class="mb-3">
                <label for="passwordInput" class="form-label">Contraseña:</label>
                <input type="password" name="password" class="form-control" id="passwordInput" placeholder="">
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" id="cerrarCredenciales" class="btn capres-btn-secondary">Cerrar</button>
            <input type="submit" class="btn capres-btn-primary" value="Confirmar">
          </div>
        </div>
      </div>
    </div>
    </form>

    <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/init.js' %}"></script>

</body>
</html>