{% extends 'presencial/base.html' %}
{% load static %}

{% block main %}

<div class="container mt-3">

    <div class="row mx-auto text-center">
        <h1 class="h1 color-titulo">Candidatos para: "{{ terna.nombre }}"</h1>
    </div>

    <div class="row mx-auto">
        <p class="lead text-justify">
            Para ver la información de una candidata o candidato debes darle click, o tocar si estás en celular o tablet,
            dentro de su información podrás decidir si votar por la persona o volver a ver todos los candidatos/as de la terna.​
            También puedes regresar al
            <a class="capres-azul" href="{% url 'ternas-presencial' %}">listado de ternas</a>
            dando
            <a class="capres-azul" href="{% url 'ternas-presencial' %}">click acá​.</a>
        </p>
    </div>

    <div class="row mx-auto">
        {% for candidato in object_list %}
        <div class="col">
            <a href="{% url 'detalle_candidato-presencial'  terna.pk candidato.pk %}" class="link-dark mt-2" style="text-decoration:none !important;">
                <div class="card">
                    <img src="{{candidato.foto.url }}" class="card-img-top capres-img-candidato">
                    <div class="card-body">
                        <p class="card-text capres-azul">
                            {{candidato.nombre}}<br>
                            <strong>{{candidato.linea_trabajo}}</strong>
                        </p>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
        
{% endblock main %}
