{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Document</title> -->
</head>
<body style="text-align: center !important;">

    <h1>Comprobante de Votación</h1>
    <h3>{{ eleccion }}</h3>

    
    {% for voto in votos %}
        <hr style="width: 100%">
        <h3>Código Referencia: {{ voto.ref }}</h3>
        <h3>Voto para: {{ voto.terna }}</h3>
        <h3>Votante: {{ usuario }} </h3>
        <h3>Fecha de votación: {{ voto.fecha_voto }}</h3>
    {% endfor %}

    <!-- <script>
        window.print();
    </script> -->

</body>
</html>
