{% extends 'base.html' %}
{% load static %}

{% block main %}

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <div class="jumbotron text-center">
        <img src="{% static 'img/logo-gobierno.jpeg' %}" style="width:100px; height:100px; margin-bottom: 48px;" >
        <h1 class="h1">{{ datos_eleccion.nombre }}</h1>
        <p class="lead">Sigue los resultados en <strong>VIVO !</strong></p>
        <hr class="my-4">
        
        
        {% for terna in object_list %}
            <a class="btn btn-primary btn-lg" 
                href="{% url 'resultados' terna.pk %}"
                role="button"
            >
                {{ terna.nombre }}
            </a>
        {% endfor %}

        <hr class="my-4">
        <p class="lead">Emite tu voto en línea o acercate al centro de votación más cercano</p>
        <a class="btn btn-success btn-lg" href="{% url 'login' %}" role="button">VOTAR</a>
        <p>Recuerda que puedes votar hasta el <strong>{{ datos_eleccion.fecha_fin}}</strong></p>
        
        <hr class="my-4">
        <p class="lead">
            Puedes consultar la base legal de estas elecciones dando click a <a href="{{datos_eleccion.documento}}" target="_blank">este enlace​</a>
        </p>

    </div>
</div>
{% endblock main %}
    