{% extends 'presencial/base.html' %}
{% load static %}

{% block main %}

<div class="row">

    <main role="main"  class="container inicio">

        <img src="{% static 'img/logo-gobierno.jpeg' %}" style="width:125px; margin-bottom: 32px;" >

        <h1 class="h1 mt-2 mb-2 color-titulo">{{ datos_eleccion.nombre}}</h1>

        <!-- <p class="lead text-justify">
            Ingresa las mismas credenciales con las que inicias sesión en tu computadora institucional, si no posees cuenta institucional, no recuerdas tus credenciales o tienes algún problema para ingresar, por favor acercate a votar de manera presencial a tu centro de votación más cercano. <span style="font-weight: bold;">Recuerda portar tu mascarilla!</span>
        </p> -->

        <!-- Espacio de Login -->

        <form method="post" class="mx-auto form col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
            {% csrf_token %}

            <div class="mb-3 text-justify">
                <label style="font-weight: bold;">DUI:</label>
                {{ form.username }}
              </div>
              <div class="mb-3 text-justify">
                <label style="font-weight: bold;">{{form.password.label}}:</label>
                {{ form.password }}
              </div>
              <!-- <div class="mb-3 form-check">
                <input required type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">
                    Aceptar los <a href="#" id="terminos">Términos y Condiciones</a>
                </label>
              </div> -->
            <input type="submit" class="btn capres-btn-primary btn-lg" value="INGRESAR">
        </form>
    </main>

</div>

<!-- Términos y condiciones -->
<!-- <div class="modal fade" id="terminosModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Términos y Condiciones</h5>
          <button type="button" id="cerrar2" class="btn-close btn" data-bs-dismiss="modal" aria-label="Close">X</button>
        </div>
        <div class="modal-body text-justify">
          {{ datos_eleccion.terminos | safe}}
        </div>
        <div class="modal-footer">
          <button type="button" id="cerrar" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
</div> -->

{% endblock main %}
