{% extends 'presencial/base.html' %}
{% load static %}


{% block main %}

<div class="row">

    <main role="main"  class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-danger" role="alert">
                {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        <h1 class="h1 mt-2 color-titulo">Resultados Para: {{ object.nombre }}</h1>
        <!-- Grafico -->
        <div id="result-div"></div>

        <!-- Tabla -->
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Lugar</th>
                <th scope="col"></th>
                <th scope="col">Nombre</th>
                <th scope="col">Votos</th>
            </tr>
            </thead>
            <tbody>
            {% for item in resultados.tabla %}
                <tr>
                    <th scope="row">{{ forloop.counter }}º</th>
                    <td>
                        <img src="{{ item.foto.url }}" style="width: 75px;" alt="">
                    </td>
                    <td>{{ item.nombre }}</td>
                    <td>{{ item.votos }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </main>

</div>

<script src="{% static 'js/plotly.min.js' %}"></script>
<script src="{% static 'js/plotsdk.js' %}"></script>

<script>

    let candidatos = {{resultados.nombres | safe}}
    let votos = {{resultados.votos | safe}}

    var trace1 = {
        x: candidatos,
        y: votos,
        type: 'bar',
        // text: candidatos.map(String),
        // textposition: 'auto',
        // hoverinfo: 'none',
        marker: {
            color: 'rgb(158,202,225)',
            opacity: 0.6,
            line: {
                color: 'rgb(8,48,107)',
                width: 1.5
            }
        }
    };

    var data = [trace1];

    var layout = {
        title: new Date(),
        barmode: "stacked",
        font:{
            family: 'Raleway, sans-serif'
        },
        showlegend: false,
        yaxis: {
            zeroline: false,
            gridwidth: 2
        },
        bargap :0.05
    };

    resultados = new ResultadoGraph()
    resultados.draw('result-div', data, layout)

</script>

{% endblock main %}
