{% extends 'presencial/base.html' %}
{% load static %}

{% block main %}
    <main role="main" class="container mt-3 px-6">
        <h1 class="h1 color-titulo">Hola, {{ usuario.nombre }}</h1>

        <p class="lead text-justify">
            En esta elección tienes disponibles las siguientes ternas, por favor selecciona aquella por la que desees emitir tu voto, recuerda que si sales de esta sección deberás solicitar nuevamente el ingreso​.
        </p>

        <h3 class="h3 text-justify">Ternas Disponibles:</h3>

        <div class="row justify-content-center px-3 py-2">
        {% for terna in object_list %}
            <div class="py-2 col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <div class="card">
                    <div class="card-header">
                        {{ terna.nombre }}
                    </div>
                    <div class="card-body">
                        {% if terna.fecha_voto == None %}
                            <a class="btn capres-btn-primary" href="{% url 'candidatos-presencial' terna.pk %}">
                                Ver candidato/as y votar
                            </a>
                        {% else %}
                            <span class="color-titulo d-flex flex-row justify-content-center align-items-start" style="font-size: 16px;">
                                <span class="material-icons capres-margin-icon capres-verde" style="font-size: 20px;">check_circle</span>
                                Votaste el {{ terna.fecha_voto }}
                            </span>
                            <br>
                            <span class="color-titulo" style="font-size: 14px">Ref: {{ terna.ref }} </span>
                            <br>
                            <a href="{% url 'resultados-presencial' terna.pk %}" class="btn capres-btn-primary">Ver Resultados</a>
                        {% endif %}
                            
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>

        <!-- <p class="lead text-center mt-3">
            ¿Ya votaste o deseas regresar y seguir viendo los resultados en VIVO?, puedes dar <a href="{% url 'resultados' object_list.first.pk %}"> click acá </a>
        </p> -->
            
    </main>
{% endblock main %}
