.color-titulo {
    color: #313945;
}


.capres-azul {
    color: #4880FF;
}


.capres-verde {
    color: #B7EE40;
}


.capres-btn-primary {
    background-color: #4880FF;
    color: white;
    border-radius: 40px;
}


.capres-btn-primary:hover {
    background-color: #386EE6;
    color: white;
}


.capres-btn-secondary {
    color: #4880FF;
    border-color: #4880FF;
    border-radius: 40px;
    border-width: 2px;
}


.capres-btn-secondary:hover {
    color: #386EE6;
    border-color: #386EE6;
}


.capres-margin-icon {
    margin: 2px 3px;
}



.capres-img-candidato {
    width: 100%;
    height: 250px;
    object-fit: cover;
}